<!-- LISTA DE VIDEOS -->
<div ng-if="isLista">
    <div class="container-fluid">

        <!--BOTON REFRESCAR-->
        <div class="row">
            <div class="col-xs-12 blockheader">
                <a type="button" class="btn btn-danger pull-left" href="#">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </a>
                <button type="button" class="btn btn-danger btn-sm pull-right" href="#">Señal en Vivo</button>
            </div>
        </div>

        <!-- VIDEOS -->
        <div class="col-md-3 col-xs-12" ng-repeat="video in video_list | orderBy:'-mam'">
            <div class="picture" ng-click="showVideo(video);">
                <img class="img img-responsive" ng-src="{{video.thumbnail}}">
                <div class="overlay">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </div>
            </div>

            <div class="titulo">
                <time class="pull-left text-center">{{video.mam}}</time>
                <h4>{{video.title}}</h4>
            </div>
            <p class="lead">{{video.description}}</p>
            <hr/>
        </div>

    </div>
</div>

<!-- PLAYER -->
<div class="player" ng-if="isVideo">
    <div class="container-fluid">

        <!-- BOTON CERRAR -->
        <div class="row ng-scope">
            <div class="blockheader">
                <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="hideVideo();"><i
                        class="fa fa-times" aria-hidden="true"></i></button>
            </div>
        </div>

        <!-- PLAYER -->
        <div class="row ng-scope">
            <div class="col-xs-12">
                <div id="videoMS" class="embed-responsive embed-responsive-16by9"></div>
                <time class="pull-left ng-binding">{{currentVideo.mam}}</time>
                <h4 class="pull-left ng-binding">{{currentVideo.title}}</h4>
                <p class="lead ng-binding">{{currentVideo.description}}</p>
                <hr>
            </div>
        </div>

    </div>
</div>